<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Twamp Gui</Name>
    <Version>1.0.3</Version>
    <Title>Twamp Gui Tools Installer</Title>
    <Publisher>Murat Demirten</Publisher>
    <StartMenuDir>Twamp Gui</StartMenuDir>
    <TargetDir>@HomeDir@/TwampGui</TargetDir>
    <RunProgram>@TargetDir@/twamp-client.exe</RunProgram>
    <RunProgramDescription>Run Twamp Client</RunProgramDescription>
</Installer>
